body {
    margin: 0;
    box-sizing: border-box;
    font-family: "Philosopher";
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#home {
    background-image: url("greybackground2-5.jpg");
    background-size: cover;
	-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;
}

#courses {
  background-color: grey;
}


#copyright {
  text-align: left;
  font-size: 10px;
  color: white;
  background-color: #333;
  padding: 2vw;
}

.active-page {
  background-color: #2a2e12;
}

/* Navigation bar styling */

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 1.5vw;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 20px;  
  border: none;
  outline: none;
  color: white;
  padding: 1.5vw;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: #4b5320;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

/* Home page Styling*/


@media (max-width: 1000px) {
  #textbox{
    text-align: left;
    font-size: 15px;
    color: black;
    padding: 9vw;

    align-items: center;
    height: 100%;
}

.home-text {
    margin-top: 10vw;
    text-align: center;
}

.image1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: auto;
    border: 1px solid #4B5320;
	outline-style: solid;
	outline-color: #4B5320;
	outline-width: thick;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
  
}

@media (min-width: 1001px) {

  #textbox{
    text-align: left;
    font-size: 20px;
    color: black;
    padding: 9vw;

    align-items: center;
    height: 100%;
  }
  
  .home-text {
    width: 30%;
    float: left;
  }
  
  .image1 {
    width: 30vw;
    height: 24vw;
    float: center;
    margin-left: 15vw;
    margin-top: 3vw;
	      border: 1px solid #4B5320;
	outline-style: solid;
	outline-color: #4B5320;
	outline-width: thick;
	  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }

}

#greyzoneethics {
    padding: 10vw;
    text-align: center;
    border-bottom: 5px solid black;
    border-top: 5px solid black;
    background-image: url("ethicsbook.jpg");
    background-size: cover;
    background-position: center;
}

@media (max-height: 700px) {
	#iraqbook {
		margin-top: 60vw;
	}
}

#iraqbook {
    padding: 8vw;
    text-align: center;
    background-image: url("rediraqbook.jpg");
    background-size: cover;
    background-position: center; 
    border-top: 5px solid black;
}

.iraqbooktext {
  background-color: rgba(0,0,0,0.65);
  color: white;
  margin-left: 12vw;
  margin-right: 12vw;
  border-radius: 3vw;
  padding: 2vw;
  font-size: 20px;

}

#iraqbook a {
		display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

/* Contact page styling */
.home_contact {
	background-image: url("greybackground2-5.jpg");
	    background-size: cover;
    background-position: center; 
}

main {
  width: 60vw;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  margin-top: 3vw;
  margin-bottom: 3vw;
  height: 60rem;
  border-radius: 2rem;
  padding: 2.5rem;
  background-color: white;
}

main h1 {
  text-align: center;
  font-size: 3rem;
  padding: 1rem 2rem;
}
 
form {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
 
.input__container {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
 
.input__container label { font-size: 1.6rem; }
 
.input__container input, textarea {
  padding: 1rem 1rem;
  border-radius: 5px;
  border: 1px solid #555;
  resize: none;
}

textarea {
  height: 10rem;
}

.submitbutton {
  align-self: flex-start;
  padding: 1rem 2rem;
  border-radius: 5px;
  border: none;
  background: #333;
  color: #fff;
  cursor: pointer;
}

.home_contact {
  background-color: grey;
}

/* Courses styles */

.textbox {
  text-align: left;
  padding: 3vw 4vw;
  font-size: 17px;
  color: black;
}
.slideshow-header {
  font-size: 15px;
  text-align: center;
  color: black;
  }
  
  * {box-sizing:border-box}
  
  /* Slideshow container */
  .slideshow-container {
  max-width: 65vw;
  max-height: 50vw;
  position: relative;
  margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
  display: none;
  }

  .mySlides a {
    color: grey;
  }

  .mySlides a:hover {
    color: darkgrey;
  }
  
  /* Next & previous buttons */
  .prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 2vw;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  }
  
  
  /* Position the "next button" to the right */
  .next {
  right: 0;
  border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
  background-color: grey;
  }
  
  /* Caption text */
  .text1 {
  color: #f2f2f2;
  font-size: 2.2vw;
  padding: 1vw 12vw;
  position: absolute;
  bottom: 4vw;
  width: 60%;
  text-align: left;
  }
  .text2 {
  color: white;
  font-size: 2.2vw;
  padding: 1vw 10vw;
  position: absolute;
  bottom: 14vw;
  width: 100%;
  text-align: center;
  }
  
  .text3 {
  color: white;
  font-size: 2.2vw;
  padding: 1vw 10vw;
  position: absolute;
  bottom: 15vw;
  width: 100%;
  text-align: center;
  background: rgba(0,0,0,0.6);
  
  }
  
  /* The dots/bullets/indicators */
  .dot {
  cursor: pointer;
  height: 1.2vw;
  width: 1.2vw;
  margin: 0 2px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
  background-color: #373737;
  }
  
  /* Fading animation */
  .fade {
  animation-name: fade;
  animation-duration: 1.5s;
  }
  
  @keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
  }


  /* Grey Zone Ethics styles */
.banner {
	height: 25vw;
  background-image: url("GZE_Logo1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#gze {
  margin: 0;
  height: 100%;
  background-image: url("greybackground2.jpg");
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Philosopher";
}

.GZEtextbox {
  text-align: left;
  padding: 5vw;
  font-size: 17px;
  color: black;
}

/* Iraq book styles */

#shake-and-bake {
  background-image: url("chalk board.png");
  background-size: cover;
  background-attachment: fixed;
}

.title {
  text-align: center;
}

#textbox2 {
  font-size: 17px;
  color: black;
  padding: 1vw;
  background-color: rgba(110,110,110,0.9);
  margin: 3vw;
}

.image2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: auto;
}

.home-text2 {
  text-align: center;
}

div.image-gallery {
  background-color: rgba(80,80,80,0.9);
  padding-left: 8vw;
  padding-right: 8vw;
  padding-top: 0.5vw;
  margin: 3vw;
}

.image-gallery h4 {
  text-align: center;
  font-size: 30px;
}

div.gallery {
  margin: 15px;
  border: 1px solid #ccc;
  display: inline-block;
  width: 300px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
  max-width: 300px;
  max-height: 225px;
  object-fit: cover;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.booklink {
    color: #299617;
    text-decoration-line: underline;
}

#kidsbook {
  background-color: white;
	background-image: url("kid background.png");
	background-color: white;
	background-size: 20vw;
	backgorund-height: auto;
	display: grid;
	 align-items: center; 
 grid-template-columns: 1fr 1fr 1fr;
 column-gap: 2vw;
	
}

.kidsbooktext {
	  color: black;
  margin-left: 15vw;
  margin-right: 5vw;
  font-size: 20px;
	  border-radius: 3vw;
  padding: 2vw;
	padding-left: 5vw;
	padding-right: 5vw;
	  background-color: green;
	border: 3px solid black;
	float: right;
	width: 40vw;
	

}

.kidsimage {
	width: 30vw;
	height: auto;
	border: 5px solid black;
	margin: 30px;
	margin-left: 20px;
}

.kidspageimage {
	width: 50%;
	height: auto;
	text-align: center;
	margin: 20vw;
	margin-bottom: 0px;
	margin-top: 0px;
	border: 5px solid black;
}

.kidspagetext {
	margin-left: 10vw;
	margin-right: 10vw;
	text-align: center;
		  border-radius: 3vw;
  padding: 2vw;
	  background-color: green;
	border: 3px solid black;
}

.contact-email {
    padding: 3vw;
  margin: 3vw;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-bottom: 90vh;
  background-color: white;
	text-align: left;
	font-size: 17px;
	 box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
	border-radius: 2rem;
}

.contact-email h1 {
	font-size: 20px;
	color: black;
}

.contact-email-text {
  color: black;
	
}

.kidspagecontainer {
	background-image: url("kid background.png");
	background-color: white;
		background-size: 20vw;
	backgorund-height: auto;
}

.amazonimg {
	height: 60px;
	border: 3px solid white;
}

.text1 .amazonimg {
	width: 75px;
	height: auto;
	border: 2px solid white;

}

.bandnlink {
	height: 60px;
	border: 3px solid white;
}

.mySlides2 {

	max-width: 70vw;
	max-height: 70vw;

}

.mySlides2 img {

	height: auto;
	max-width: 85%;
	height: 35vw;
	object-fit: cover;
	margin-left: 5vw;



}

.mySlides2 h2 {
	color: white;
	text-align: center;
	margin-left: 0vw;
	font-size: 18px;

} 

.slideshow2 {
	background-color: black;
	padding: 1vw;
	margin: 3vw;
	margin-left: 20vw;
	margin-right: 20vw;
	position: relative;
	  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	height: 80vh;
	overflow-y: scroll;
	overflow-x: hide;
}

.slideshow-button1 {
	position: absolute;
	top: 50%;
	left: 4%;
	transform: translate(-50%, -5%);
  	-ms-transform: translate(-50%, -5%);
  	background-color: #555;
  	color: white;
  font-size: 16px;
  padding: 1vw 2vw;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.slideshow-button2 {
	position: absolute;
	top: 50%;
	right: -3.6%;
	transform: translate(-50%, -5%);
  	-ms-transform: translate(-50%, -5%);
  	background-color: #555;
  	color: white;
  font-size: 16px;
  padding: 1vw 2vw;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.slideshow2 h1 {
	text-align: center;
	color: white;
}

@media (max-width: 1000px) {
.video {
	margin-top: 5vw;
	width: 250;
	height: 170;
	margin-bottom: 5vh;
	
}
}

@media (min-width: 1001px) {

	.video {
		margin: 5vw;
		margin-bottom: 5vh;
		width: 900;
		height: 650;
	}
}
